*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-family: 'DynaPuff', cursive;
    background: #1A2F4B;
    color: white;
    

}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
   
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
    
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between; /* Seprar los contenidos del header */
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 b{
    color: orangered;
}

.menu{
    height: 80px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.menu-select::before{
    content: '';
    width: 100%;
    height: 4px;
    background: orangered;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: #7777;
    font-size: 18px;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color: orangered;
}
.menu .text-menu-select{
    color: orangered;
}

/* Portada App */
.container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../img/450824.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.container-cover::before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255, 68, 0, 0.281);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.container-cover-info{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.container-cover-info h1{
    font-size: 60px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
    background-color: transparent;
}

.container-cover-info p{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    background-color: transparent;
}

/* Article App */
.container-content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

article{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -4px 0 30px -10px orangered;
    border-radius: 6px;
     overflow: hidden;
}

article::before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: orangered;
}

article h1{
    margin-top: 20px;
    font-weight: 200;
    font-size: 40px;
    color: orangered;
}

article p{
    margin-top: 20px;
    font-size: 18px;
    color: white;
}

article img{
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
}

/* Aside App */
.container-aside aside{
    width: 320px;
    border-radius: 6px;
    box-shadow: -4px 0 30px -10px orangered;
    overflow: hidden;
    margin-left: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.container-aside aside img{
    width: 100%;
}

.container-aside aside h2{
    margin-top: 20px;
    padding: 0px 20px;
    color: orangered;
}

.container-aside aside p{
    margin-top: 20px;
    padding: 0px 20px;
    color: white;
}

.container-aside aside button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 16px;
    font-size: 16px;
    background: orangered;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.container-aside aside button:hover{
    opacity: 0.9;
}

/* Footer App */
.container-footer{
    background: #1A2F4B !important;
   
    width: 100%;
    padding: 40px 0;

    margin-top: 40px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

.container-footer footer .redes-footer svg:hover{
    background: white;
}

.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: orangered;
}

.container-footer h4{
    text-align: center;
    margin-top: 10px;
    font-weight: 500px;
    color: orangered;
}